.gitignore            export-ignore
tools/debian_src.tar.gz binary
#.gitattributes        export-ignore
#tests                 export-ignore
#resources/sh.header   export-ignore
#resources/src.header  export-ignore

